In [1]:
import pandas as pd
import numpy as np
import sklearn

import os

import warnings
warnings.filterwarnings('ignore')

In [2]:
os.getcwd()

'e:\\risk_model'

In [3]:
os.listdir("./dataset")

['lc_2016_2017.csv', 'lc_loan.csv', 'new.html', 'us-state-codes.csv']

In [4]:
loan_data = pd.read_csv('./dataset/lc_2016_2017.csv')
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [5]:
loan_data.shape

(759338, 72)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

### Use load_status as target variable

In [7]:
loan_data.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [8]:
loan_data['good_bad'] = np.where(loan_data.loc[:, 'loan_status'].isin(['Change_off', "Defaul", "Late (31-120 days)", "Late (16-30 days)"]), 1,0)

In [9]:
loan_data.good_bad.value_counts()

good_bad
0    740108
1     19230
Name: count, dtype: int64

In [10]:
df = loan_data[["loan_status", "good_bad"]]

df

              loan_status  good_bad
0                 Current         0
1                 Current         0
2                 Current         0
3                 Current         0
4                 Current         0
...                   ...       ...
759333            Current         0
759334            Current         0
759335  Late (16-30 days)         1
759336            Current         0
759337            Current         0

[759338 rows x 2 columns]

### Mising Values Checked

In [11]:
missing_values = pd.DataFrame(loan_data.isnull().sum() / loan_data.shape[0])

missing_values

                         0
id                0.000000
member_id         1.000000
loan_amnt         0.000000
funded_amnt       0.000000
funded_amnt_inv   0.000000
...                    ...
total_rev_hi_lim  0.000000
inq_fi            0.000080
total_cu_tl       0.000082
inq_last_12m      0.000082
good_bad          0.000000

[73 rows x 1 columns]

check for >50% missing values

In [12]:
missing_values = missing_values[missing_values.iloc[:, 0]>0.50]

missing_values.sort_values([0], ascending=False)

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [13]:
#removed missing values > 50%

loan_data.dropna(thresh=loan_data.shape[0]*0.5, axis=1, inplace=True)

In [14]:
missing_values = pd.DataFrame(loan_data.isnull().sum() / loan_data.shape[0])

missing_values

                         0
id                0.000000
loan_amnt         0.000000
funded_amnt       0.000000
funded_amnt_inv   0.000000
term              0.000000
...                    ...
total_rev_hi_lim  0.000000
inq_fi            0.000080
total_cu_tl       0.000082
inq_last_12m      0.000082
good_bad          0.000000

[66 rows x 1 columns]

In [15]:
missing_values = missing_values[missing_values.iloc[:, 0]>0.50]

missing_values.sort_values([0], ascending=False)

Empty DataFrame
Columns: [0]
Index: []

### Data Splitting (Train & Test)

In [16]:
loan_data.shape

(759338, 66)

In [17]:
#split data into train 80% and 20% test 

from sklearn.model_selection import train_test_split

X = loan_data.drop('good_bad', axis=1)
y = loan_data['good_bad']

X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.2, stratify= y, random_state= 42)

X_train.shape, X_test.shape

((607470, 65), (151868, 65))

In [18]:
y_train.value_counts(normalize=True)

good_bad
0    0.974675
1    0.025325
Name: proportion, dtype: float64

In [19]:
y_test.value_counts(normalize=True)

good_bad
0    0.974675
1    0.025325
Name: proportion, dtype: float64

### Data_Cleaning

In [20]:
# X_train.select_dtypes(include= ['object','bool'])

#check data types

for col in X_train.select_dtypes(include= ['object','bool']).columns:
    print(col)
    print(X_train[col].unique())
    print()

term
['36 months' '60 months']

grade
['B' 'C' 'A' 'D' 'E' 'G' 'F']

sub_grade
['B4' 'C4' 'C3' 'A2' 'B3' 'C1' 'D5' 'B2' 'C2' 'A4' 'E2' 'C5' 'B1' 'B5'
 'D4' 'D3' 'G3' 'A1' 'D1' 'E3' 'E5' 'A5' 'E1' 'A3' 'D2' 'E4' 'F4' 'F5'
 'F1' 'F2' 'G5' 'G4' 'G2' 'G1' 'F3']

emp_title
['Technical Director' 'Bartender' 'Service Advisor' ...
 'eCommerce Consultant' 'Supervising Sr Engr' 'VP, Compliance Manager']

emp_length
['4 years' '6 years' '1 year' '10+ years' nan '2 years' '5 years'
 '< 1 year' '8 years' '9 years' '7 years' '3 years']

home_ownership
['RENT' 'MORTGAGE' 'OWN' 'ANY' 'NONE']

verification_status
['Not Verified' 'Source Verified' 'Verified']

issue_d
['Jul-2016' 'Apr-2017' 'Jun-2017' 'May-2017' 'Aug-2016' 'Apr-2016'
 'Jun-2016' 'Jan-2017' 'Mar-2017' 'Jan-2016' 'Mar-2016' 'Oct-2016'
 'Feb-2017' 'Aug-2017' 'Jul-2017' 'Dec-2016' 'Nov-2016' 'Feb-2016'
 'May-2016' 'Sep-2017' 'Sep-2016']

loan_status
['Fully Paid' 'Current' 'Charged Off' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'moving' 'major_purchase' 'small_business'
 'credit_card' 'home_improvement' 'vacation' 'medical' 'renewable_energy'
 'other' 'car' 'house' 'wedding']

title
['Debt consolidation' 'Moving and relocation' 'Major purchase' 'Business'
 'Credit card refinancing' 'Home improvement' 'Vacation'
 'Medical expenses' nan 'Green loan' 'Other' 'Car financing' 'Home buying'
 'Credit Card Consolidation']

zip_code
['217xx' '331xx' '334xx' '276xx' '770xx' '404xx' '925xx' '953xx' '762xx'
 '410xx' '944xx' '490xx' '840xx' '300xx' '958xx' '996xx' '970xx' '960xx'
 '440xx' '988xx' '740xx' '030xx' '306xx' '850xx' '967xx' '299xx' '917xx'
 '731xx' '328xx' '606xx' '314xx' '281xx' '223xx' '344xx' '750xx' '087xx'
 '997xx' '601xx' '070xx' '109xx' '100xx' '481xx' '532xx' '906xx' '991xx'
 '851xx' '182xx' '564xx' '105xx' '912xx' '801xx' '110xx' '700xx' '453xx'
 '210xx' '891xx' '073xx' '329xx' '974xx' '940xx' '113xx' '918xx' '150xx'
 '112xx' '280xx' '708xx' '554xx' '685xx' '941xx' '951xx' '928xx' '927xx'
 '761xx' '924xx' '933xx' '373xx' '810xx' '775xx' '972xx' '456xx' '494xx'
 '605xx' '216xx' '075xx' '287xx' '201xx' '947xx' '921xx' '184xx' '483xx'
 '104xx' '462xx' '403xx' '272xx' '441xx' '765xx' '327xx' '688xx' '080xx'
 '774xx' '321xx' '362xx' '782xx' '346xx' '950xx' '145xx' '305xx' '295xx'
 '730xx' '926xx' '371xx' '645xx' '797xx' '954xx' '379xx' '282xx' '903xx'
 '773xx' '068xx' '212xx' '914xx' '705xx' '220xx' '711xx' '349xx' '322xx'
 '347xx' '913xx' '436xx' '303xx' '258xx' '707xx' '816xx' '946xx' '703xx'
 '829xx' '551xx' '231xx' '631xx' '232xx' '126xx' '982xx' '063xx' '922xx'
 '482xx' '356xx' '805xx' '480xx' '852xx' '766xx' '530xx' '088xx' '486xx'
 '064xx' '310xx' '977xx' '706xx' '920xx' '200xx' '010xx' '027xx' '905xx'
 '751xx' '724xx' '603xx' '975xx' '431xx' '565xx' '076xx' '802xx' '333xx'
 '813xx' '275xx' '018xx' '945xx' '846xx' '380xx' '607xx' '393xx' '114xx'
 '342xx' '021xx' '365xx' '956xx' '570xx' '618xx' '273xx' '908xx' '330xx'
 '352xx' '600xx' '263xx' '084xx' '727xx' '563xx' '983xx' '576xx' '446xx'
 '786xx' '647xx' '207xx' '900xx' '125xx' '745xx' '489xx' '338xx' '980xx'
 '768xx' '448xx' '337xx' '117xx' '336xx' '452xx' '066xx' '023xx' '785xx'
 '136xx' '081xx' '923xx' '473xx' '562xx' '668xx' '948xx' '444xx' '358xx'
 '219xx' '934xx' '040xx' '234xx' '339xx' '957xx' '470xx' '382xx' '043xx'
 '936xx' '297xx' '274xx' '930xx' '335xx' '402xx' '458xx' '583xx' '244xx'
 '479xx' '907xx' '544xx' '622xx' '221xx' '614xx' '780xx' '160xx' '890xx'
 '800xx' '787xx' '752xx' '190xx' '208xx' '115xx' '118xx' '495xx' '741xx'
 '853xx' '492xx' '474xx' '498xx' '666xx' '585xx' '240xx' '229xx' '016xx'
 '142xx' '038xx' '871xx' '360xx' '681xx' '170xx' '820xx' '609xx' '981xx'
 '553xx' '895xx' '935xx' '301xx' '764xx' '020xx' '430xx' '720xx' '378xx'
 '660xx' '015xx' '804xx' '082xx' '937xx' '313xx' '085xx' '071xx' '674xx'
 '472xx' '304xx' '042xx' '718xx' '195xx' '744xx' '985xx' '454xx' '882xx'
 '808xx' '355xx' '122xx' '422xx' '107xx' '316xx' '222xx' '233xx' '559xx'
 '270xx' '140xx' '039xx' '641xx' '633xx' '620xx' '243xx' '283xx' '932xx'
 '286xx' '151xx' '655xx' '546xx' '326xx' '191xx' '460xx' '604xx' '302xx'
 '484xx' '174xx' '228xx' '534xx' '361xx' '984xx' '550xx' '390xx' '186xx'
 '185xx' '864xx' '180xx' '465xx' '760xx' '488xx' '466xx' '193xx' '141xx'
 '897xx' '880xx' '824xx' '072xx' '968xx' '916xx' '083xx' '074xx' '139xx'
 '617xx' '870xx' '602xx' '319xx' '580xx' '875xx' '992xx' '121xx' '077xx'
 '124xx' '463xx' '242xx' '833xx' '381xx' '132xx' '397xx' '323xx' '809xx'
 '245xx' '894xx' '630xx' '704xx' '386xx' '103xx' '370xx' '325xx' '376xx'
 '995xx' '284xx' '060xx' '028xx' '613xx' '198xx' '309xx' '539xx' '019xx'
 '130xx' '657xx' '971xx' '973xx' '757xx' '815xx' '111xx' '363xx' '152xx'
 '196xx' '581xx' '627xx' '197xx' '294xx' '372xx' '847xx' '811xx' '296xx'
 '781xx' '261xx' '442xx' '615xx' '029xx' '714xx' '478xx' '844xx' '181xx'
 '078xx' '549xx' '662xx' '665xx' '857xx' '806xx' '487xx' '312xx' '558xx'
 '675xx' '716xx' '438xx' '324xx' '146xx' '387xx' '189xx' '156xx' '723xx'
 '629xx' '989xx' '079xx' '172xx' '285xx' '218xx' '169xx' '608xx' '166xx'
 '467xx' '292xx' '475xx' '531xx' '648xx' '368xx' '721xx' '067xx' '119xx'
 '784xx' '086xx' '175xx' '624xx' '793xx' '664xx' '650xx' '026xx' '293xx'
 '776xx' '224xx' '902xx' '194xx' '877xx' '640xx' '759xx' '315xx' '783xx'
 '863xx' '873xx' '756xx' '949xx' '432xx' '366xx' '497xx' '838xx' '651xx'
 '308xx' '677xx' '400xx' '148xx' '227xx' '388xx' '978xx' '931xx' '416xx'
 '461xx' '307xx' '377xx' '144xx' '919xx' '952xx' '856xx' '238xx' '737xx'
 '799xx' '548xx' '230xx' '357xx' '290xx' '959xx' '420xx' '171xx' '791xx'
 '616xx' '199xx' '129xx' '211xx' '499xx' '011xx' '722xx' '423xx' '543xx'
 '451xx' '557xx' '288xx' '058xx' '128xx' '236xx' '116xx' '435xx' '832xx'
 '427xx' '053xx' '024xx' '754xx' '069xx' '405xx' '449xx' '161xx' '986xx'
 '209xx' '178xx' '728xx' '391xx' '767xx' '779xx' '535xx' '045xx' '394xx'
 '691xx' '433xx' '062xx' '291xx' '341xx' '354xx' '298xx' '065xx' '915xx'
 '571xx' '955xx' '843xx' '225xx' '041xx' '278xx' '778xx' '455xx' '626xx'
 '582xx' '054xx' '395xx' '167xx' '031xx' '610xx' '710xx' '976xx' '560xx'
 '910xx' '012xx' '502xx' '450xx' '734xx' '837xx' '755xx' '652xx' '961xx'
 '789xx' '226xx' '683xx' '056xx' '017xx' '443xx' '014xx' '625xx' '597xx'
 '680xx' '318xx' '795xx' '153xx' '235xx' '794xx' '173xx' '411xx' '822xx'
 '537xx' '612xx' '123xx' '406xx' '939xx' '670xx' '034xx' '575xx' '836xx'
 '383xx' '425xx' '469xx' '541xx' '439xx' '389xx' '841xx' '206xx' '493xx'
 '059xx' '826xx' '812xx' '998xx' '561xx' '320xx' '540xx' '317xx' '701xx'
 '351xx' '693xx' '904xx' '102xx' '611xx' '827xx' '637xx' '577xx' '628xx'
 '033xx' '943xx' '712xx' '108xx' '120xx' '187xx' '598xx' '147xx' '133xx'
 '547xx' '623xx' '177xx' '271xx' '859xx' '593xx' '188xx' '392xx' '468xx'
 '656xx' '277xx' '584xx' '239xx' '667xx' '471xx' '788xx' '013xx' '447xx'
 '477xx' '672xx' '574xx' '350xx' '046xx' '279xx' '591xx' '159xx' '050xx'
 '162xx' '692xx' '154xx' '586xx' '421xx' '834xx' '127xx' '044xx' '814xx'
 '690xx' '743xx' '993xx' '252xx' '596xx' '158xx' '726xx' '599xx' '032xx'
 '407xx' '134xx' '176xx' '687xx' '725xx' '566xx' '061xx' '262xx' '165xx'
 '658xx' '424xx' '567xx' '398xx' '025xx' '131xx' '777xx' '661xx' '769xx'
 '215xx' '684xx' '911xx' '719xx' '049xx' '594xx' '638xx' '735xx' '137xx'
 '437xx' '990xx' '485xx' '790xx' '385xx' '138xx' '384xx' '898xx' '246xx'
 '713xx' '729xx' '796xx' '679xx' '748xx' '241xx' '636xx' '592xx' '835xx'
 '874xx' '057xx' '445xx' '401xx' '106xx' '634xx' '496xx' '545xx' '143xx'
 '588xx' '878xx' '803xx' '183xx' '746xx' '374xx' '364xx' '653xx' '828xx'
 '135xx' '168xx' '359xx' '214xx' '476xx' '635xx' '415xx' '763xx' '556xx'
 '676xx' '758xx' '047xx' '590xx' '742xx' '035xx' '619xx' '048xx' '749xx'
 '673xx' '179xx' '414xx' '457xx' '412xx' '289xx' '149xx' '671xx' '860xx'
 '639xx' '678xx' '157xx' '237xx' '587xx' '163xx' '963xx' '738xx' '254xx'
 '881xx' '464xx' '686xx' '717xx' '022xx' '572xx' '999xx' '542xx' '753xx'
 '101xx' '491xx' '669xx' '739xx' '265xx' '264xx' '434xx' '884xx' '250xx'
 '409xx' '538xx' '573xx' '798xx' '883xx' '052xx' '037xx' '089xx' '855xx'
 '164xx' '260xx' '097xx' '367xx' '426xx' '408xx' '792xx' '893xx' '689xx'
 '646xx' '413xx' '654xx' '994xx' '247xx' '418xx' '155xx' '845xx' '830xx'
 '036xx' '807xx' '251xx' '879xx' '698xx' '644xx' '736xx' '268xx' '747xx'
 '823xx' '051xx' '506xx' '825xx' '396xx' '831xx' '332xx' '417xx' '595xx'
 '257xx' '253xx' '255xx' '772xx' '865xx' '663xx' '091xx' '569xx' '369xx'
 '090xx' '552xx' '249xx' '259xx' '096xx' '340xx' '256xx' '969xx' '500xx'
 '008xx' '267xx' '098xx' '094xx' '979xx' '962xx' '965xx' '885xx' '555xx'
 '510xx' '345xx' '854xx' '093xx' '621xx' '901xx' '515xx' '343xx' '248xx'
 '095xx' '709xx' '942xx' '348xx' '696xx' '525xx' '092xx' '311xx' '009xx'
 '861xx' '204xx' '202xx' '523xx' '821xx' '203xx' '702xx' '266xx' nan
 '966xx' '909xx' '528xx' '872xx' '987xx' '353xx' '521xx' '055xx']

addr_state
['MD' 'FL' 'NC' 'TX' 'KY' 'CA' 'MI' 'UT' 'GA' 'AK' 'OR' 'OH' 'WA' 'OK'
 'NH' 'AZ' 'HI' 'SC' 'IL' 'VA' 'NJ' 'NY' 'WI' 'PA' 'MN' 'CO' 'LA' 'NV'
 'NE' 'TN' 'IN' 'AL' 'MO' 'CT' 'WV' 'WY' 'DC' 'MA' 'AR' 'MS' 'SD' 'KS'
 'ME' 'ND' 'NM' 'ID' 'RI' 'DE' 'VT' 'MT']

earliest_cr_line
['Mar-1993' 'Jun-2005' 'Oct-2013' 'May-2000' 'May-2002' 'Mar-2005'
 'Jul-1990' 'Feb-2003' 'Feb-1989' 'Aug-2006' 'Oct-2000' 'Nov-2004'
 'Nov-1988' 'Aug-2002' 'Sep-1999' 'May-2004' 'Jul-2000' 'Apr-2003'
 'Aug-2003' 'Oct-1991' 'Apr-1985' 'Mar-1999' 'Sep-2003' 'May-1995'
 'May-2011' 'Nov-1998' 'Dec-1998' 'Jun-1985' 'Nov-1995' 'Feb-1997'
 'Dec-1994' 'Mar-2003' 'Jun-2002' 'Jul-2011' 'Nov-1989' 'Mar-2002'
 'May-2009' 'Nov-2003' 'Sep-2002' 'Jun-1983' 'Dec-2001' 'Jan-1983'
 'Dec-1992' 'May-2008' 'Mar-2000' 'Oct-2008' 'Feb-2004' 'Apr-2004'
 'Dec-1997' 'Jan-2005' 'Aug-2004' 'Mar-1998' 'Aug-2001' 'Aug-2013'
 'Oct-1990' 'Nov-2005' 'Apr-2006' 'Jan-2006' 'Mar-2004' 'Mar-1991'
 'Sep-2011' 'Feb-2006' 'Oct-1961' 'Sep-2007' 'Oct-2009' 'Mar-1997'
 'Dec-2012' 'Aug-1993' 'Feb-2005' 'Nov-2007' 'Dec-1983' 'Dec-2003'
 'Oct-1998' 'Apr-2008' 'Apr-2012' 'Sep-2009' 'Dec-1985' 'Feb-2013'
 'Sep-2000' 'Dec-2010' 'Oct-2004' 'Aug-1994' 'Jul-1976' 'Jul-1986'
 'Oct-2007' 'Mar-2010' 'Dec-2006' 'May-2005' 'Feb-2000' 'Feb-1994'
 'Apr-2011' 'Jul-2009' 'Oct-2006' 'Nov-2002' 'Jun-2003' 'Sep-1977'
 'Nov-2012' 'Oct-2003' 'Oct-1978' 'Jul-1998' 'Jun-1997' 'Jun-1994'
 'Oct-1997' 'Nov-1996' 'May-1984' 'Apr-2009' 'Dec-2002' 'Apr-2000'
 'Apr-1992' 'Jan-1974' 'Nov-2000' 'May-1997' 'Apr-1996' 'Jun-2001'
 'Sep-1997' 'Oct-1993' 'Apr-2001' 'Feb-1998' 'Feb-1980' 'Nov-1990'
 'Nov-2006' 'Sep-1993' 'Sep-1995' 'Mar-2008' 'Jun-2011' 'Feb-1986'
 'Sep-2008' 'Nov-2001' 'Jul-1996' 'Apr-2002' 'Oct-1980' 'Dec-2004'
 'Jun-2007' 'Aug-2000' 'Dec-2005' 'Jun-2013' 'Oct-2005' 'Sep-1996'
 'Jun-2008' 'Sep-1994' 'Jan-2001' 'Feb-1987' 'Jan-2004' 'Jul-1989'
 'Apr-2007' 'Apr-1982' 'Aug-1996' 'Aug-1977' 'Jun-1993' 'Sep-2004'
 'Jun-1999' 'Aug-2010' 'Feb-2002' 'Aug-1997' 'Sep-2006' 'Oct-1988'
 'Dec-1984' 'Mar-1976' 'May-2001' 'Apr-1995' 'Mar-2006' 'Jul-2006'
 'Aug-2011' 'Aug-2012' 'Jul-1991' 'Jul-1995' 'Nov-1999' 'Oct-1996'
 'May-1994' 'Sep-1998' 'May-1993' 'Jan-2002' 'Aug-2008' 'Jul-2012'
 'Nov-1997' 'Aug-1991' 'Sep-1992' 'Jul-2003' 'Sep-1987' 'Feb-2012'
 'Jan-1991' 'Jan-1987' 'Jul-1987' 'Aug-1975' 'Dec-1993' 'May-1990'
 'Dec-1987' 'Jun-1991' 'Apr-1988' 'Dec-2000' 'Aug-1998' 'Jun-1988'
 'May-2003' 'Jul-1975' 'Dec-2007' 'Jan-2000' 'Dec-1986' 'Jan-1999'
 'Aug-1995' 'Dec-2011' 'Jan-1963' 'Jul-2004' 'Jun-1998' 'Mar-1995'
 'Jul-1997' 'Jul-2005' 'Oct-1999' 'Oct-2011' 'Jun-2000' 'Jan-1997'
 'Jan-2003' 'Jan-1988' 'Mar-1994' 'May-1988' 'Jun-1986' 'Jan-1993'
 'Jan-2014' 'Apr-1997' 'Apr-2005' 'Aug-2005' 'Oct-1995' 'Jun-1996'
 'Nov-1986' 'Jun-2004' 'Jun-1995' 'Feb-2009' 'Nov-1975' 'May-1989'
 'Jan-2007' 'Jan-2012' 'May-2007' 'Nov-1985' 'Sep-2001' 'Aug-1999'
 'Apr-1987' 'Apr-1999' 'Oct-2001' 'Oct-1981' 'Dec-2009' 'May-2006'
 'Aug-1976' 'Oct-1992' 'Apr-1993' 'Oct-1983' 'Oct-1985' 'Jul-1999'
 'Aug-1989' 'Mar-1996' 'Sep-2013' 'Apr-1989' 'Mar-1992' 'Jul-2008'
 'Jun-1992' 'Oct-1989' 'Nov-2010' 'Apr-2014' 'Feb-1996' 'Jan-1965'
 'Mar-2014' 'Mar-2001' 'Feb-1985' 'May-2010' 'Jun-2014' 'Jul-2002'
 'Oct-2002' 'Sep-1990' 'Apr-1991' 'Sep-1989' 'Mar-2009' 'Feb-1995'
 'Dec-2008' 'Dec-1996' 'Sep-2005' 'Aug-1984' 'Mar-1984' 'Mar-2007'
 'Jan-1975' 'Dec-1991' 'Jun-1984' 'May-1991' 'Nov-1994' 'Jul-1984'
 'Jun-2006' 'Jan-1995' 'Feb-1991' 'Jul-1978' 'Feb-2011' 'Aug-2009'
 'Dec-1995' 'Aug-1992' 'Feb-1984' 'Feb-1993' 'May-2013' 'Oct-1975'
 'Jul-1992' 'Apr-1998' 'Sep-2012' 'May-1998' 'Mar-2011' 'Aug-1978'
 'Sep-1981' 'May-1987' 'Aug-1981' 'May-1999' 'Jan-1996' 'Aug-2007'
 'Feb-1992' 'Aug-1985' 'Dec-1999' 'Nov-1979' 'Aug-1986' 'Jan-1976'
 'Jul-1983' 'Jan-1986' 'Sep-2010' 'Feb-1999' 'Jul-1994' 'Nov-2009'
 'Oct-1986' 'Jun-1989' 'Apr-1994' 'Aug-1990' 'Jan-2013' 'Mar-1989'
 'Nov-1992' 'Oct-2010' 'Jun-2012' 'Jul-2001' 'Nov-1993' 'Jan-2008'
 'May-2014' 'May-1978' 'Jan-1989' 'Feb-2007' 'Mar-1990' 'Apr-1990'
 'Sep-1985' 'Sep-1983' 'Mar-1978' 'Jul-2007' 'Feb-2001' 'May-1986'
 'Oct-1982' 'Jul-1982' 'Dec-1988' 'Sep-1973' 'Jun-1979' 'Apr-2013'
 'May-1977' 'Jun-1981' 'Nov-1976' 'Jul-2010' 'Mar-1988' 'Apr-2010'
 'Apr-1971' 'Jul-1988' 'Mar-2013' 'Dec-1981' 'Dec-1989' 'Oct-1987'
 'Apr-1972' 'Oct-1994' 'Jul-1985' 'May-1992' 'Nov-1983' 'Jan-1966'
 'Nov-1981' 'Aug-1979' 'Aug-1987' 'Jul-1993' 'Sep-1972' 'Apr-1975'
 'Jan-1994' 'Mar-1980' 'Feb-2008' 'Jun-1975' 'Feb-2010' 'Jan-2009'
 'Jun-1973' 'Oct-1984' 'May-2012' 'Sep-1991' 'Apr-1976' 'Apr-1979'
 'Jun-1990' 'Jan-1979' 'Dec-1973' 'Feb-1988' 'Jul-1977' 'Mar-1987'
 'Aug-1970' 'May-1982' 'Feb-1990' 'May-1983' 'Nov-1991' 'Feb-1982'
 'Jun-1976' 'Jan-1998' 'May-1979' 'Jun-1987' 'Feb-2014' 'Nov-1982'
 'Nov-1987' 'Dec-1990' 'Aug-1988' 'Oct-1964' 'Mar-1982' 'May-1996'
 'Nov-2013' 'Sep-1984' 'Sep-1986' 'Mar-1981' 'Apr-1986' 'Jan-1980'
 'May-1980' 'Jul-1981' 'Jan-1992' 'Oct-2012' 'Feb-1976' 'Jan-1973'
 'Mar-1986' 'Aug-1972' 'Nov-2008' 'Jun-2010' 'Feb-1974' 'Jan-1984'
 'Jan-1981' 'May-1974' 'Mar-2012' 'Sep-1970' 'Sep-1982' 'Dec-1977'
 'Mar-1977' 'Feb-1983' 'Mar-1985' 'Dec-1982' 'Sep-1979' 'Sep-1980'
 'Jul-1980' 'Feb-1971' 'Jun-2009' 'Jan-2011' 'Jan-2010' 'Dec-2013'
 'Oct-1974' 'Jan-1990' 'Sep-1988' 'Nov-2011' 'Mar-1979' 'Nov-1977'
 'Jul-2013' 'Apr-1984' 'Oct-1970' 'Mar-1974' 'Jun-1978' 'Jul-1979'
 'Mar-1983' 'May-1973' 'Nov-1984' 'Feb-1970' 'Feb-1978' 'Apr-1974'
 'May-1985' 'Jan-1953' 'Nov-1978' 'Mar-1963' 'Apr-1980' 'Aug-1969'
 'May-1981' 'Jan-1978' 'Aug-1964' 'Jun-1982' 'Apr-1966' 'Aug-1983'
 'Apr-1973' 'Mar-1973' 'Dec-1979' 'Dec-1980' 'Feb-1981' 'Aug-1966'
 'Apr-1983' 'Jan-1977' 'Aug-1973' 'Jan-1964' 'Jan-1985' 'Nov-1973'
 'Oct-1977' 'Apr-1977' 'Aug-1982' 'Sep-1976' 'Dec-1966' 'Jan-1968'
 'Dec-1969' 'Nov-1972' 'Jan-1982' 'Apr-1978' 'Jan-1961' 'Jan-1967'
 'Oct-1973' 'Sep-1969' 'Mar-1970' 'Dec-1978' 'Aug-1980' 'May-1970'
 'Mar-1972' 'Feb-1972' 'Jun-1970' 'Dec-1968' 'May-1975' 'Jun-1974'
 'Jul-1974' 'Sep-1975' 'Jan-1972' 'Jul-1972' 'Sep-1974' 'Jun-1968'
 'Jul-1973' 'Feb-1977' 'Dec-1976' 'Jul-1968' 'Feb-1979' 'Apr-1969'
 'Feb-1973' 'Nov-1966' 'Jul-1971' 'Jul-1967' 'Jun-1966' 'Oct-1968'
 'Jan-1948' 'Oct-1976' 'Sep-1968' 'Mar-1968' 'Apr-1981' 'May-1972'
 'Oct-1969' 'Jun-1971' 'Jan-1970' 'Nov-1971' 'Dec-1975' 'Oct-1979'
 'Mar-1975' 'Aug-2014' 'Jun-1964' 'Sep-1978' 'Jan-1969' 'Jan-1971'
 'Sep-1965' 'Aug-1967' 'Mar-1971' 'Feb-1975' 'Oct-1972' 'Nov-1980'
 'Mar-1964' 'May-1967' 'May-1966' 'May-1965' 'May-1976' 'Oct-1967'
 'May-1961' 'Dec-1972' 'Nov-1970' 'Jun-1967' 'Feb-1968' 'Apr-1968'
 'Nov-1964' 'Jul-1970' 'Nov-1959' 'Dec-1962' 'Dec-1974' 'Sep-1967'
 'Nov-1974' 'Apr-1970' 'Aug-1974' 'Sep-1971' 'Jun-1969' 'Jun-1972'
 'Dec-1959' 'Aug-1971' 'May-1971' 'Oct-1971' 'Jul-2014' 'Apr-1964'
 'Jul-1969' 'Dec-1971' 'Jun-1958' 'Jun-1977' 'Nov-1967' 'Dec-1970'
 'Jan-1960' 'Jun-1980' 'Dec-1965' 'Mar-1965' 'Dec-1967' 'May-1969'
 'Jul-1964' 'May-1963' 'Jun-1959' 'Feb-1969' 'Apr-1960' 'Nov-1969'
 'Oct-1966' 'May-1968' 'Oct-1963' 'Jun-1965' 'Apr-1967' 'Nov-1965'
 'Aug-1968' 'Feb-1967' 'Nov-1961' 'Apr-1963' 'Dec-1960' 'Sep-1961'
 'Nov-1968' 'Jan-1962' 'Jul-1959' 'Oct-1965' 'Mar-1969' 'Feb-1966'
 'May-1958' 'Mar-1967' 'Dec-1964' 'Sep-1964' 'Apr-1965' 'Jun-1962'
 'Jul-1965' 'Dec-1963' 'Mar-1966' 'Aug-1965' 'May-1964' 'Jan-1950'
 'Jul-1952' 'Feb-1961' 'Aug-1957' 'Aug-1963' 'Jan-1959' 'Mar-1955'
 'Mar-1933' 'Jan-1957' 'Sep-1966' 'May-1959' 'Apr-1934' 'Nov-1963'
 'Apr-1962' 'Jul-1966' 'Feb-1962' 'Jan-1958' 'Dec-1958' 'Nov-1962'
 'Jul-1961' 'Sep-1951' 'Feb-1960' 'Jan-1956' 'Aug-1962' 'Jul-1962'
 'Jun-1963' 'Mar-1959' 'Feb-1965' 'Nov-1960' 'Dec-1956' 'Jan-1952'
 'Feb-1964' 'Mar-1954' 'Apr-1955' 'Apr-1961' 'Sep-1963' 'Aug-1959'
 'Jan-1951' 'Jul-1963' 'Jul-1960' 'Oct-1960' 'Dec-1946' 'Mar-1961'
 'Sep-1962' 'Feb-1959' 'Mar-1962' 'Jun-1957' 'Apr-1958' 'Oct-1962'
 'Feb-1963' 'Jun-1952' 'May-1960' 'Aug-1953' 'Oct-1958' 'Jan-1955'
 'Aug-1958' 'Aug-1961' 'Jun-1961' 'Feb-1945' 'Aug-1960' 'Nov-1957'
 'Mar-1957' 'Aug-1941' 'Feb-1934' 'Jun-1960']

initial_list_status
['f' 'w']

last_pymnt_d
['Aug-2017' 'Dec-2017' 'Nov-2017' nan 'Feb-2017' 'Dec-2016' 'Nov-2016'
 'Sep-2016' 'Jun-2017' 'Apr-2017' 'Jan-2017' 'Jul-2017' 'Sep-2017'
 'May-2017' 'Jul-2016' 'Jan-2016' 'Mar-2017' 'Oct-2017' 'Aug-2016'
 'Oct-2016' 'Jun-2016' 'Mar-2016' 'May-2016' 'Apr-2016' 'Feb-2016']

next_pymnt_d
[nan 'Jan-2018' 'Feb-2018' 'Dec-2017']

last_credit_pull_d
['Dec-2017' 'Mar-2017' 'Aug-2017' 'May-2017' 'Jun-2017' 'Oct-2017'
 'Nov-2017' 'Dec-2016' 'Jul-2017' 'Oct-2016' 'Feb-2017' 'Sep-2017'
 'Jan-2017' 'Mar-2016' 'Sep-2016' 'Apr-2017' 'Aug-2016' 'Nov-2016'
 'Apr-2016' 'Jul-2016' 'Jun-2016' 'May-2016' 'Jan-2016' 'Dec-2015'
 'Feb-2016' nan]

application_type
['Individual' 'Joint App']

In [21]:
# loan_data.info()
# print(loan_data['term'])

object_type = loan_data.select_dtypes(include='object')
print(object_type.head().to_string())
print("\n")
print(loan_data.columns)

        term grade sub_grade     emp_title emp_length home_ownership verification_status   issue_d loan_status pymnt_plan             purpose                    title zip_code addr_state earliest_cr_line initial_list_status last_pymnt_d next_pymnt_d last_credit_pull_d application_type
0  36 months     C        C1           NaN        NaN            OWN        Not Verified  Jun-2017     Current          n         credit_card  Credit card refinancing    148xx         NY         Sep-1985                   w     Dec-2017     Jan-2018           Dec-2017       Individual
1  60 months     C        C1       teacher  10+ years       MORTGAGE        Not Verified  Jun-2017     Current          n  debt_consolidation       Debt consolidation    021xx         MA         Jun-1992                   w     Dec-2017     Jan-2018           Dec-2017       Individual
2  36 months     C        C4  Front Office    7 years       MORTGAGE        Not Verified  Jun-2017     Current          n    home_improvement         Home improvement    018xx         MA         Jun-2002                   w     Dec-2017     Jan-2018           Dec-2017       Individual
3  36 months     B        B1       Manager  10+ years           RENT     Source Verified  Jun-2017     Current          n                 car            Car financing    913xx         CA         Jan-2007                   w     Dec-2017     Jan-2018           Dec-2017       Individual
4  36 months     B        B5     Paramedic  10+ years       MORTGAGE     Source Verified  Jun-2017     Current          n  debt_consolidation       Debt consolidation    560xx         MN         Feb-2002                   w     Dec-2017     Jan-2018           Dec-2017       Individual


Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'good_bad'],
      dtype='object')

In [44]:
col_to_clean = ['term','emp_length', 'issue_d', 'earliest_cr_line','last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d' ]

col_to_clean

['term',
 'emp_length',
 'issue_d',
 'earliest_cr_line',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d']

In [23]:
X_train['term'].unique()

array(['36 months', '60 months'], dtype=object)

In [24]:
#replace data type to numeric
change = pd.to_numeric(X_train['term'].str.replace('months', ''))
change

292199    36
105150    36
20468     36
51794     36
240190    36
          ..
67465     60
376057    36
580549    36
562964    36
502585    36
Name: term, Length: 607470, dtype: int64

In [25]:
#replace term column
X_train['term'] = change

X_train['term']

292199    36
105150    36
20468     36
51794     36
240190    36
          ..
67465     60
376057    36
580549    36
562964    36
502585    36
Name: term, Length: 607470, dtype: int64

In [29]:
X_train['emp_length'].unique()

array(['4', '6', '1', '10+', 0, '2', '5', '0', '8', '9', '7', '3'],
      dtype=object)

In [31]:
X_train['emp_length'] = X_train['emp_length'].str.replace('\+ years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace(' years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace('< 1 year', str(0))
X_train['emp_length'] = X_train['emp_length'].str.replace('+', '')
X_train['emp_length'] = X_train['emp_length'].str.replace(' year', '')

X_train['emp_length'].fillna(value = 0, inplace=True)

X_train['emp_length'].head()

292199     4
105150     6
20468      1
51794     10
240190    10
Name: emp_length, dtype: object

In [32]:
X_train['emp_length'] = pd.to_numeric(X_train['emp_length'])

X_train['emp_length']

292199     4
105150     6
20468      1
51794     10
240190    10
          ..
67465      1
376057     7
580549    10
562964     5
502585     2
Name: emp_length, Length: 607470, dtype: int64

In [33]:
col_date = ['issue_d', 'earliest_cr_line','last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d' ]

X_train[col_date]

         issue_d earliest_cr_line last_pymnt_d next_pymnt_d last_credit_pull_d
292199  Jul-2016         Mar-1993     Aug-2017          NaN           Dec-2017
105150  Apr-2017         Jun-2005     Dec-2017     Jan-2018           Dec-2017
20468   Jun-2017         Oct-2013     Dec-2017     Jan-2018           Dec-2017
51794   May-2017         May-2000     Dec-2017     Jan-2018           Dec-2017
240190  Aug-2016         May-2002     Dec-2017     Jan-2018           Dec-2017
...          ...              ...          ...          ...                ...
67465   May-2017         Apr-2003     Dec-2017     Jan-2018           Dec-2017
376057  Aug-2017         May-2006     Dec-2017     Jan-2018           Dec-2017
580549  Nov-2016         May-1996     May-2017          NaN           Sep-2017
562964  Nov-2016         Jul-2002     Dec-2017     Jan-2018           Dec-2017
502585  Apr-2016         Jul-2004     Apr-2016          NaN           Apr-2016

[607470 rows x 5 columns]

In [34]:
X_train['issue_d'] = pd.to_datetime(X_train['issue_d'])
X_train['issue_d']

292199   2016-07-01
105150   2017-04-01
20468    2017-06-01
51794    2017-05-01
240190   2016-08-01
            ...
67465    2017-05-01
376057   2017-08-01
580549   2016-11-01
562964   2016-11-01
502585   2016-04-01
Name: issue_d, Length: 607470, dtype: datetime64[ns]

In [35]:
for col in col_date:
    X_train[col] = pd.to_datetime(X_train[col])
    
X_train[col_date]

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
292199,2016-07-01,1993-03-01,2017-08-01,NaT,2017-12-01
105150,2017-04-01,2005-06-01,2017-12-01,2018-01-01,2017-12-01
20468,2017-06-01,2013-10-01,2017-12-01,2018-01-01,2017-12-01
51794,2017-05-01,2000-05-01,2017-12-01,2018-01-01,2017-12-01
240190,2016-08-01,2002-05-01,2017-12-01,2018-01-01,2017-12-01
...,...,...,...,...,...
67465,2017-05-01,2003-04-01,2017-12-01,2018-01-01,2017-12-01
376057,2017-08-01,2006-05-01,2017-12-01,2018-01-01,2017-12-01
580549,2016-11-01,1996-05-01,2017-05-01,NaT,2017-09-01
562964,2016-11-01,2002-07-01,2017-12-01,2018-01-01,2017-12-01
502585,2016-04-01,2004-07-01,2016-04-01,NaT,2016-04-01

In [36]:
# Lakukan hal yang sama untuk X_test
X_test['term'] = pd.to_numeric(X_test['term'].str.replace(' months', ''))

In [42]:

X_test['emp_length'] = X_test['emp_length'].str.replace('\+ years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace(' years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace('+', '')
X_test['emp_length'] = X_test['emp_length'].str.replace('< 1 year', str(0))
X_test['emp_length'] = X_test['emp_length'].str.replace(' year', '')

X_test['emp_length'].fillna(value = 0, inplace=True)
X_test['emp_length'].head()
X_test['emp_length'] = pd.to_numeric(X_test['emp_length'])

In [38]:

for col in col_date:
    X_test[col] = pd.to_datetime(X_test[col])

In [50]:
# X_test['term']
# X_test['emp_length']

# Checking
# X_test[col_to_clean]
X_train[col_to_clean].info()

<class 'pandas.core.frame.DataFrame'>
Index: 607470 entries, 292199 to 502585
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   term                607470 non-null  int64
 1   emp_length          607470 non-null  int64
 2   issue_d             607470 non-null  datetime64[ns]
 3   earliest_cr_line    607470 non-null  datetime64[ns]
 4   last_pymnt_d        606714 non-null  datetime64[ns]
 5   next_pymnt_d        472986 non-null  datetime64[ns]
 6   last_credit_pull_d  607453 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(2)
memory usage: 37.1 MB